fastapi
uvicorn
python-multipart 
pandas 
openai
langchain
langchain_core
langchain_openai
langchain_community
Pillow 
pytesseract 
openpyxl 
odfpy 
frontend
langchain-groq
langchain-mcp-adapters
mcp
langgraph
langgraph_Supervisor
pandas
numpy
matplotlib
seaborn
sklearn
scikit-learn
bs4
requests
